@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 0px;
  column-gap: 0px;
}

.content-details h5,
h6,
p {
  margin-bottom: -3px;
}

body {
  /* height: 100vh; */
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rem;
  z-index: 999;
  box-shadow: -3px -7px 20px 9px #0808087d;
  border-radius: 32px;
}

header.navbar-container .logo {
  display: flex;
  align-items: center;
}

header.navbar-container .logo img {
  height: 50px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #d52020;
  color: white;
  box-shadow: 1px 1px 20px 0px #0808089e;
}

header.navbar-container .nav-list a.active {
  background-color: #d52020;
  color: white;
  box-shadow: 1px 1px 20px 0px #0808089e;
}

main {
  max-width: 1200px;
  flex: 1;
  display: flex;
  align-items: center;
  font-family: 'Quicksand';
}

main .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main .content .content-description {
  flex: 1 1;
  margin: 35px 40px 0px 0px;
  box-shadow: -1px 6px 20px 4px #0000008a;
  border-radius: 22px;
  padding: 16px 5px 20px 32px;
}

main .content .content-description .title {
  margin-block: 1rem;
}

main .content .content-description p {
  line-height: 1.0rem;
  font-size: inherit;
}

main .content .content-description button {
  padding: .8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #d52020;
  cursor: pointer;
  transition: all .15s ease-in;

}

main .content .content-description button:hover {
  border: 3px solid #d52020;
  color: #272323;
  background-color: transparent;
  box-shadow: 1px 1px 20px 0px #0808089e;
}

main .content .content-image {
  flex: 1;
  display: flex;
}

main .content .content-image img {
  margin: 0px 0px 0px 85px;
  min-width: 200px;
  width: 214px;
}

main aside, aside div{
  display: flex;
  align-self: ;
}
main aside p{
  display: flex;
}


 .social-media {
  height: 100%;
  display: flex;
  position: fixed;
  inset-block: 0;
  inset-inline-end:0;
  width: 1rem; 
  transition: width 1s ease-in-out;
}
.expanded {
  width: 12rem;
}

 .social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #d52020;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: -2px 0px 30px 2px #0000007d;
}

.social-media li {
  list-style-type: none;
}

 .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all .1s ease-in-out;
}

.social-media li a:hover {
  color: #272323;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 950px;
  align-items: center;
}

.row {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 60px;
}

.aside {
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 60px;
  align-items: center;
  box-shadow: -1px 6px 20px 4px #413c238a;
  border-radius: 23px;
  margin: 69px 40px 51px 25px;
  padding: 30px 20px 30px 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}


#experience {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: url(gambar/images.webp) center top / cover no-repeat fixed;
  overflow: hidden;
  height: 500px;
  box-shadow: inset -7px 12px 60px 40px #0808089e;
}

#experience>.experience-content {
  width: 30%;
  background-color: #a53737e6;
  margin: 69px 40px 51px 25px;
  padding: 0px 28px 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  color: white;
  font-family: system-ui;
  box-shadow: -1px 6px 20px 4px #2e65d98a;
  border-radius: 23px;
}

.experience-content h4,
h5 {
  font-weight: bold;
}

.row>article>div {
  width: 50%;
}

main .content button {
  padding: .8rem 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #d52020;
  cursor: pointer;
  transition: all .15s ease-in;
  margin-bottom: 20px;
  box-shadow: 1px 1px 20px 0px #0808089e;
}

main .content button:hover {
  border: 3px solid #d52020;
  color: #272323;
  background-color: transparent;
  box-shadow: 1px 1px 20px 0px #0808089e;
}

.contact {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: url(gambar/circuit.webp) center top / cover no-repeat fixed;
  overflow: hidden;
  height: 500px;
  align-items: stretch;
  box-shadow: inset -7px 12px 60px 40px #0808089e;
}

.contact .contact-area {
  width: 15%;
  background-color: #a53737e6;
  margin: 69px 0px 50px 50px;
  padding: 0px 28px 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: start;
  color: white;
  font-family: system-ui;
  box-shadow: -1px 6px 20px 4px #2e65d98a;
  border-radius: 23px;
}

.contact .contact-details-area {
  width: 30%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.contact .contact-details-area iframe{
  box-shadow: -1px 6px 20px 4px #2e65d98a;
  margin: 70px 0px 55px 0px;
  width: 80%;
  border-radius: 20px;
}

main .contact .contact-area button {

  margin: -1rem 6rem;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border: 3px solid transparent;
  background-color: #d52020;
  cursor: pointer;
  transition: all .15s ease-in;
  padding: 5px;

}

main .contact .contact-area button:hover {
  border: 3px solid #d52020;
  color: #ffffff;
  background-color: transparent;
  box-shadow: 1px 1px 20px 0px #0808089e;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    color: #fff9f9;
   outline: none;
   width: 100%;
}
.form-control {
  border: 1px solid #c3bec2;
  font-size: 16px;
  height: 50px;
  background: transparent;
  border-radius: 0;
  margin-bottom: 25px
}
.form-control:focus {
    border-color: #ffffff;
    box-shadow:  0px 0px 5px 3px #f1f1f19e;
}

.footer {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 40px;
}



@media screen and (max-width: 768px) {
  header.navbar-container .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: .5rem;
  }


  main .content {
    flex-direction: column;
    gap: 2rem;
  }

  main .content .content-description .title {
    font-size: 3rem;
  }

  main .content .content-description p {
    font-size: 1rem;
  }

  main .content .content-image {
    order: -1;
  }
  main .content .content-image img {
    margin:0;
  }

  #experience {
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 0px;
    height: 700px;
    
  }
  #experience>.experience-content {
    width: 80%;
    background-color: #a53737e6;
    margin: 26px 50px 0px 25px;
    padding: 10px 10px 45px 38px;
    flex-direction: column;
    flex-grow: 0;
  }
  main .contact .contact-area button {
    margin: 0rem 5rem;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 3px solid transparent;
    background-color: #d52020;
    cursor: pointer;
    transition: all .15s ease-in;
    padding: 5px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.footer {
 justify-content: center;
 margin-left: 0px;
}
div#contact{
  flex-direction: column;
  height: 1000px;
  align-items: center;
}
.contact .contact-area {
  width: 80%;
  margin: 30px 0px 0px 30px;
  padding: 0px 40px 40px;
  flex-grow: 0;
  flex-direction: column;
  justify-content: center;
}

.contact .contact-details-area {
  width: 80%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.contact .contact-details-area iframe{
  margin: 50px 0px 50px 20px;
  width: 100%;
}

main .contact .contact-area button {
  margin: 1rem 7rem;
  font-size: 1.0rem;
}
}